body {
	background-color:#2e393d;
}

.height-auto{
	height: auto;
}

.perso_bck {
	margin-top: 50px;
	background-color: #e4e4e4;
}
.perso_bc2{
	margin: 0 10px;
}
.perso_bc3{
	margin-top: 30px;
}

.perso_bc4{
	margin : 30px 100%;
	transform: translateX(-100%);
}

.perso_bc5{
	margin-bottom: 50px;
}
.perso_bc6{
	margin-bottom: 50px;
}
.principe {
	margin-left: 30%;
}
.parallax{
    background: url("tree.jpg") no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
    margin-bottom: 20px;
}
.box-bandereau{
	width: 100%;
	height: auto;
}
.border_body{
	height: auto;
}
.bloc_quizz{
	margin: 40px 0;
}
.perso_height-50{
	height: 50px;
}
.img_profile{
	background:no-repeat center;
	   background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}
.img_profile img{
	background:no-repeat center;
	   background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}
.formulaire_admin, .formulaire_admin1{
width: 49%;
    text-align: center;
}
@media only screen and (max-width:580px) {
	.square{
		width: 140px;
		height: 150px;
		margin-bottom: 30px;
	}
	.mobile_adapt_paral{
		display: block!important;
	}
	.mobile_adapt_1{
		margin-top:30px;
	}

	.mobile_adapt_bloc_d-none{
		display: none!important;
	}
	.mobile_adapt_bloc_full-margin{
		width: 100%;
	}
	.round2 {
    	width: 130px;
    	height: 130px;
    	border-radius: 50%;
	}
	.mobile_adapt_bloc_d-column {
		flex-flow: column wrap;
	}
	.bloc_quizz {
     	margin: 10px 0; 
	}
.band_pagination{
	width: 100%;
	height: 30px;
}
}