body {
	background-color:#2e393d;
font-family: 'VT323', monospace;
}

.height-auto{
	height: auto;
}
input[type=button], input[type=submit], input[type=reset], button, .button {

	display: inline-block;
	color: #FFFFFF;
	cursor: pointer;
	background: #bb971a;
	background: linear-gradient(to top, #bb971a 0%, #a27e01 100%);
	background: -moz-linear-gradient(to top, #bb971a 0%, #a27e01 100%);
	background: -webkit-linear-gradient(to top, #bb971a 0%, #a27e01 100%);
	background: -o-linear-gradient(to top, #bb971a 0%, #a27e01 100%);
	border: 1px solid #959fa4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
	height: auto;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover {
	background: linear-gradient(to top, #d5b134 0%, #bb971a 100%);
	background: -moz-linear-gradient(to top, #d5b134 0%, #bb971a 100%);
	background: -webkit-linear-gradient(to top, #d5b134 0%, #bb971a 100%);
	background: -o-linear-gradient(to top, #d5b134 0%, #bb971a 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, .button:active{
	opacity:0.8;
}

.perso_bck {
	margin-top: 50px;
	background-color: #e4e4e4;
}
.perso_bc2{
	margin: 0 10px;
}
.perso_bc3{
	margin-top: 30px;
}

.perso_bc4{
	margin : 30px 100%;
	transform: translateX(-100%);
}

.perso_bc5{
	margin-bottom: 50px;
}
.perso_bc6{
	margin-bottom: 50px;
}
.principe {
	margin-left: 30%;
}
.parallax{
    background: url("tree.jpg") no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    width: 100%;
    margin-bottom: 20px;
}
.specialfont{
	font-family: 'Cinzel Decorative', cursive;
}
.box-bandereau{
	width: 100%;
	height: auto;
}
.border_body{
	height: auto;
}
.bloc_quizz{
	margin: 40px 0;
}
.perso_height-50{
	height: 50px;
}
.img_profile{
	background:no-repeat center;
	   background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}
.info{
	width: 100px;
}
.img_profile img{
	background:no-repeat center;
	   background-size: cover;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}
.formulaire_admin, .formulaire_admin1{
width: 49%;
    text-align: center;
}
.images_plantes{
	width: 100%;
}
a:hover {
	text-decoration: none;
	color: black;
}
.bloc_avatar{
	justify-content: flex-end;
}
.info{
	width: 200px;
}
.avatar {
    width: 125px;
    height: auto;
}
.perso-avatar{
	overflow: hidden;
	width: 125px;
	margin-right: 10px;

}
@media only screen and (max-width:580px) {
	.square{
		width: 140px;
		height: 150px;
		margin-bottom: 30px;
	}
	.mobile_adapt_paral{
		display: block!important;
	}
	.mobile_adapt_1{
		margin-top:30px;
	}

	.mobile_adapt_bloc_d-none{
		display: none!important;
	}
	.mobile_adapt_bloc_full-margin{
		width: 100%;
	}
	select{
		width: 100%;
	}
	.round2 {
    	width: 130px;
    	height: 130px;
    	border-radius: 50%;
	}
	.mobile_adapt_bloc_d-column {
		flex-flow: column wrap;
	}
	.mobile_adapt_column_n{
      flex-flow: column;
      height: auto;

}
	.bloc_quizz {
     	margin: 10px 0; 
	}
.band_pagination{
	width: 100%;
	height: 30px;
}
h4{
	margin-top: 10%;
}
.mobile_adapte_margin_bottom_20{
	margin-bottom: 30px;
}
.formulaire_admin, .formulaire_admin1{
margin: 10px auto;
}
}