{% extends 'template_view.html.twig' %}
{% block title %} 
Erreur 404
{% endblock %}
{% block content %}<article class='error_404 center'>
	<h2 class="center margin-bottom-50">La page n'est pas accessible</h2>

    <img class="error_404 margin-bottom-50" src="view/404_erreur.png" alt='404_erreur'>
</article>
{% endblock %}