{% extends 'template_view.html.twig' %}
{% block title %} 
Erreur 404
{% endblock %}
{% block content %}<article class='error_404 center'>
	<h2 class="center">La page n'est pas accessible</h2>
    <img src="View/404_erreur.png" alt='404_erreur'>
</article>
{% endblock %}