{% extends 'template_view.html.twig' %}
{% block title %} 
Index
{% endblock %}
{% block content %}
<div class="height-30">
<h2 class="center ">
BIENVENUE !
</h2>

Voici un site qui permet de vous rendre renseigner sur les plantes medicinales .
Cela vous permettre de vous guerir plus naturellement.
Il faut voir ce site comme un ABCDaire plutot qu'un site d'information détaillé sur chaque plante
 Bonne Visite !!
</div>

{% endblock %}
