{% extends 'template_view.html.twig' %}
{% block title %} 
Abcedaire
{% endblock %}
{% block content %}
<h2 class="center"> Abcdaire des vegetaux médicinaux </h2> <br>
              <div class="bigbloc d-flex isRow justify-content-around">
            {% for abcd_tab_find in abcd_tab %}
                  {% if dataz[abcd_tab_find] is not empty %}
                      <div class='rectangle isBordered isBrown2 margin-gauche-droite opacity-90'>
                        <div class="lilsquare isBordered isBgreen d-flex justify-content-center align-content-center align-item-center "><strong>{% filter title %}{{ abcd_tab_find}}{% endfilter %}</strong><br></div>
                        <div class="bigbloc isBordered  center column">
                          {% for datat in dataz[abcd_tab_find] %}
                                 <div class="bigbloc d-flex justify-content-center align-content-center align-item-center isBordered-b column perso_height-50">
                                <a href="index.php?action=montrer_recherche&id_plante={{datat.id}}" class="linked d-contents">{% filter title %}{{datat.nom}}{% endfilter %}</a></div>
                            {% endfor %}
                        <br></div>
                    </div>
                      {% endif %}
                  {% endfor %}
                 </div>

              {% endblock %}
