<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scal=1">
  <meta name="description" content="Creation de site Web a la demande. Demandez nous votre devis pour avoir une prestation personnalisée et optimisée pour votre projet">
    <meta name="Author" content="OpenClassRoom, Larose Audric">
    <meta name="Category" content="Site information plantes, ABCDaire">
    <meta name="language" content="fr">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Aubepine" />
    <meta name="twitter:creator" content="@audriclarose" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta property="og:url" content="www.Aubepine.com">
    <meta property="og:title" content="L'ABCDaire des plantes médicinales">
    <meta property="og:description" content="Cherchez les plantes dont vous avez besoins">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Public/css/bibliotheque_UX.css">
  <link rel="stylesheet" href="Public/css/Coriolis.css">
</head>
<body>
      <div class="bloc_principal   perso_bck">
          <header class="bloc1  ">
              <article class="bloc4  ">
                  <div class="bloc5   d-flex justify-content-center align-item-center align-content-center mobile_adapt_bloc_d-none "><h1 class="specialfont">CORIOLIS</h1></div>
                  <nav class="bloc6   isDarkBlue d-flex justify-content-around mobile_adapt_bloc_full-margin">
                       <a href='index.php' class="bloc7   isBWhite d-flex justify-content-center isBlack align-content-center align-item-center">Index</a>
                      <a href='index.php?action=montrer_quizz' class="bloc7   isBrown2 d-flex justify-content-center isWhite align-content-center align-item-center">Quizz</a>
                      <div class="bloc7   isDarkBlue mobile_adapt_bloc_d-none"></div>
                      <a href='index.php?action=montrer_documentation' class="bloc7 isBrown3 d-flex justify-content-center isWhite align-content-center align-item-center">Doc</a>
                      <a href='index.php?action=montrer_liste&page=1' class="bloc7 isBrown d-flex justify-content-center isWhite align-content-center align-item-center">Loupe</a>
                  </nav>
              </article>
          </header>
          <div class='box-bandereau d-flex justify-content-center  '>
              <div class="parallax d-flex justify-content-center align-content-center align-item-center mobile_adapt_paral">
                <nav class="bloc2   d-flex isRow justify-content-center mobile_adapt_1">
            <a href='index.php' class="square   perso_bc2 isBrown d-flex justify-content-center isWhite align-content-center align-item-center opacity-90"><i class="fas fa-home fa-5x "></i></a>            
            <a href='index.php?action=montrer_documentation' class="square   perso_bc2 isBrown2 d-flex justify-content-center isWhite align-content-center align-item-center linked isWhite opacity-90"><i class="fas fa-book fa-5x"></i></a>
            <a href='index.php?action=resultat_recherche' class="square   perso_bc2 isBrown3 d-flex justify-content-center isWhite align-content-center align-item-center opacity-90"><i class="fab fa-sistrix fa-5x"></i></a>
            <a href='index.php?action=montrer_quizz' class="square   perso_bc2 isBgreen d-flex justify-content-center isWhite align-content-center align-item-center opacity-90"><i class="fas fa-puzzle-piece fa-5x"></i></a>
             <a href='index.php?action=montrer_liste&page=1' class="round2   perso_bc2 isBrown d-flex justify-content-center isWhite align-content-center align-item-center opacity-90"><i class="fas fa-address-book fa-5x"></i></a>
                </nav>
              </div>
        </div>
        <article class="border_body  ">
          {% block content %}
        {% endblock %}</article>
      <script src="Public/js/apps.js"></script>
      <script src="Public/js/verification.js"></script>
      <script src="Public/js/anima.js"></script>
      <script src="Public/js/overlay.js"></script>
      <script src="Public/js/init.js"></script>
</div>
    <footer>
      <div class="bigbloc height-10 isWhite">
<p class="center">Un site internet de Larose Audric</p>
<p class="center">Mon contact : l.audric@gmail.com</p>

      </div>
    </footer>

  </body>
</html>