{% extends 'template_view.html.twig' %}
{% block title %} 
Connexion
{% endblock %}
{% block content %}
<div class="isRedBcg center isWhite">
{{content_admin}}</div>
<br>
<h2 class="center"> CONNEXION </h2>
<div class="d-flex justify-content-center align-content-around align-item-around mobile_adapt_column_n o-flow height-60">
<section class="formulaire_admin">
    <h2>Ouvrir un compte</h2><br><br>
    <div class="nom-retro"></div>
    <form class='formu1' action='index.php?action=montrer_quizz' method="POST" enctype="multipart/form-data"> 
        Inscrivez vous :
        <div class="nom-retro isRed"></div>
        <input type="text" name="nom" required="required" id="nom_user"  placeholder="Nom..." />
        <div class="mail-retro isRed"></div>
        <input type="text" name="mail" id="mail_user" placeholder="E-mail..." />
        <div class="mdp-retro isRed"></div>
        <input type="password" name="password" id="mdp_user" placeholder="Password..." required="required" />
        <div class="mdp-repeat-retro isRed"></div>
        <input type="password" name="password_repeat" id="mdp-repeat_user" placeholder="Password repete..." required="required" /><br>
        <input type="file" name="file"/>
        <div class="bouton_envoie "><button type='submit' name='inscription' id='bouton_envoie' disabled >s'inscrire</button></div>

        <br></form>
</section>
<section class="formulaire_admin1">
    <h2>Se connecter</h2><br><br>
    <form class='formu' action='index.php' method="POST"> Nom de l'utilisateur :
        <br>
        <input type="text" name="nom_connexion" required="required" placeholder="nom..." /><br>
        <input type="password" name="password_connexion" placeholder="Password..." required="required" />
        <br>
        <button type='submit' name='connexion'>se connecter</button>
        <br> </form>
</section>
</div>
{% endblock %}
